<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,500&family=Square+Peg&family=Yanone+Kaffeesatz&display=swap"
        rel="stylesheet">

    <!-- Style-index -->
    <link rel="stylesheet" href="./../assets/css/style.css">

    <title>Contact Us</title>
</head>

<body>
    <!-- header -->
    <header class="navbar">
        <!-- Logo -->
        <div class="logo">
            <img src="./../assets/images/sportlogo.jpg">
        </div>

        <!-- Menu -->
        <nav class="menu">
            <ul>
                <li><a href="./../index.html">Home</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li>Office</li>
                <li><a href="./contact-us.html">Contact</a></li>
            </ul>
        </nav>

        <!-- Search Box -->
        <div class="search">
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass blue-icon"></i></button>
            </div>
        </div>
    </header>

    <!-- FONT AWESOME-->
    <script src="https://kit.fontawesome.com/8585262242.js" crossorigin="anonymous"></script>

</body>

</html>